<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form action="upload_img" method=post enctype=multipart/form-data> 
    <input type=file name=file>
    <input type=submit value=Upload>
</form>
<div><img class="{%if not src_image %}display_none{%endif%}" id="image_result"src='{{src_image}}'></img></div>